@import "tailwindcss";

@font-face {
  font-family: "Kameron";
  src: url("/fonts/kameron-variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/quicksand-variable.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "Kameron", "sans-serif";
  --font-sans-headline: "Quicksand", "sans-serif";

  --color-brand-primary: #651d32;
  --color-brand-accent: #f2d4d7;
  --color-brand-secondary: #ffefd5;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans-headline);
  }
}
