<footer class="bg-white p-6 text-neutral-100">
  <div
    class="mx-auto flex max-w-6xl flex-col gap-6 sm:flex-row sm:items-center sm:justify-between"
  >
    <div class="space-y-2">
      <p
        class="text-brand-primary text-xs font-semibold tracking-[0.3em] uppercase"
      >
        White Poplin Shirt © 2025
      </p>
    </div>
    <ul
      class="text-brand-body flex flex-wrap gap-4 text-xs font-medium tracking-[0.3em] uppercase"
    >
      <li>
        <a
          href="https://instagram.com"
          referrerpolicy="origin"
          target="_blank"
          class="hover:text-brand-primary transition"
        >
          Instagram
        </a>
      </li>
    </ul>
  </div>
</footer>
