<footer
  class="bg-brand-secondary border-brand-primary/25 border-t-2 px-5 py-2 sm:px-8"
>
  <div
    class="mx-auto flex max-w-6xl flex-col items-center gap-4 sm:flex-row sm:justify-between"
  >
    <div class="space-y-2">
      <p class="text-brand-primary text-sm font-light">
        © WhitePoplinShirt - 2026 - Tum haklari saklidir
      </p>
    </div>

    <a href="https://instagram.com" referrerpolicy="origin" target="_blank">
      <span class="icon-[ri--instagram-line] text-brand-primary text-2xl"
      ></span>
    </a>
  </div>
</footer>
