---
import Instagram from "../assets/icons/instagram.svg";
---

<footer class="bg-brand-secondary p-2">
  <div
    class="mx-auto flex max-w-6xl flex-col gap-4 sm:flex-row sm:items-center sm:justify-between"
  >
    <div class="space-y-2">
      <p class="text-brand-primary text-sm">
        © White Poplin Shirt - 2026 - Tum haklari saklidir
      </p>
    </div>

    <ul class="text-brand-primary flex flex-wrap gap-3 text-sm">
      <li>
        <a
          href="https://instagram.com"
          referrerpolicy="origin"
          target="_blank"
        >
          <Instagram
            fill={"var(--color-brand-primary)"}
            width={20}
            height={20}
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
