---
import SiteNav from "./site-nav.astro";

interface Props {
  active: "home" | "about" | "services";
}

const { active } = Astro.props as Props;
---

<header class="bg-brand-secondary p-4 sm:px-8">
  <div
    class="mx-auto flex max-w-6xl flex-col gap-6 sm:flex-row sm:items-center sm:justify-between"
  >
    <div class="flex items-center gap-4">
      <div class="text-brand-primary flex flex-wrap items-end gap-x-1 text-3xl">
        <a href="/">
          <span>White</span>
          <span>Poplin</span>
          <span>Shirt</span>
        </a>
      </div>
    </div>
    <div class="w-full sm:flex sm:w-auto sm:justify-end">
      <SiteNav active={active} />
    </div>
  </div>
</header>
