---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="relative isolate min-h-screen font-sans text-slate-900">
  <img
    src={background.src}
    alt=""
    fetchpriority="high"
    class="fixed inset-0 -z-10 h-full w-full object-cover blur-[100px]"
  />
  <main
    class="flex min-h-screen justify-center px-4 py-16 sm:px-6 md:items-center md:py-24"
  >
    <section class="flex w-full max-w-xl flex-col gap-6">
      <a href="https://astro.build" class="inline-flex">
        <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
      </a>
      <h1 class="mt-1 text-xl leading-snug md:text-2xl">
        To get started, open the
        <code
          class="inline-flex rounded-lg border border-transparent bg-gradient-to-br from-[#f3cddd] to-[#f5cee7] px-2 py-1"
        >
          <span
            class="bg-gradient-to-r from-[#d83333] to-[#f041ff] bg-clip-text font-mono text-base leading-none font-normal text-transparent"
          >
            src/pages
          </span>
        </code>
        directory in your project.
      </h1>
      <section class="flex flex-wrap items-center gap-4">
        <a
          href="https://docs.astro.build"
          class="inline-flex items-center rounded-xl bg-gradient-to-r from-[#3245ff] to-[#bc52ee] px-5 py-3 text-white no-underline transition-colors duration-200 hover:text-slate-200 md:px-3 md:py-2"
        >
          Read our docs
        </a>
      </section>
    </section>
  </main>
</div>
